
2Organize.xcodeproj/xcuserdata/gregor.xcuserdatad/xcschemes/xcschememanagement.plist

2Organize.xcodeproj/xcuserdata/gregor.xcuserdatad/xcschemes/2Organize.xcscheme

2Organize.xcodeproj/project.xcworkspace/xcuserdata/gregor.xcuserdatad/UserInterfaceState.xcuserstate

2Organize.xcodeproj/project.xcworkspace/contents.xcworkspacedata

.DS_Store
